footer
  = partial 'partials/shared/header-primary'

    nav.navigation
      ul
        - data.settings.navigation.nav_items.each do | nav_item |
          li
            = nav_link nav_item.label, nav_item.path
  
  .footer-content
    .container-fluid
      .row
        .newsletter
          form method="POST" data-netlify="true"
            label for="email" 订阅我们
            input type="email" name="email" placeholder="你的邮箱地址"
            button type="submit" 提交

        .social
          .icons
            = link_to 'https://www.dou7.com'
              = image_tag "social/icon.svg"
            = link_to '#'
              = image_tag "#"
            = link_to '#'
              = image_tag "#"
